# Строка подключения PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/bar2917?schema=public"

JWT_SECRET=

# Порт API (по умолчанию 4200)
PORT=4200

APP_URL=http://localhost:3000

ORDERS_ENABLED=false

# URL после оплаты
RETURN_URL=http://localhost:3000/thanks

# YooKassa
SHOP_ID=
PAYMENT_TOKEN=
